$drinkITOrange: rgb(237,102,43);
$drinkITBlue: rgb(4,68,118);
$drinkITFont: 'Noto Sans', sans-serif;
$fullWidth: 100vw;
$fullHeight: 100vh;
$totalWidth: 100%;
$medium: 20px;
$small: $medium - 5px;
$large: $medium + 5px;