legend{
    color:rgb(237,102,43);
    font-size: $large;
    font-family: arial;
    font-style: normal;
}

label{
    color:rgb(4,68,118);;
    font-size: $small;
    font-family: arial;
    font-style: normal;
}

.contactInput{
    border-color: rgb(4,68,118);
}

.form{
    border-color: rgb(237,102,43);
    border-width: 3px;
}