
.specs__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    overflow-x: scroll;
}

th{
    font-size: $medium;
    color: $drinkITOrange;
    background-color: $drinkITBlue;
    text-align: center;
}

td{
    font-size: $small;
    color:$drinkITBlue;
    text-align: center;
    ul{
       li{
        list-style-type: none;
       } 
    }
}

